<section id="section-bigcard">
    <picture id="caixaimg-bigcard">
        <img src="https://www.dwinawan.com/blog/thumb_article41.jpg" alt="Imagem de uma motocicleta retro">
    </picture>
    <p id="data-bigcard">Data 16/05/2024 às 08:45</p>
    <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est unde distinctio aliquam officia nisi! Unde?</a></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque obcaecati repellendus labore laudantium autem non temporibus odio quas accusantium, deserunt sequi expedita beatae animi inventore!</p>
</section>
