<section class="dark-sectioncontainer">
    <div class="dark-section">

        <app-menu-bar homeOnoff="true"></app-menu-bar>

        <hr class="line_division">


        <div class="content-title">
            <h1>{{titlePost}}</h1>
            <hr class="line_division">
        </div>



        <div class="content-description">
            <p class="description">{{descPost}}</p>

            <hr class="division-description">



        <div class="data-postcontainer">


            <div class="data data-post">
                <p>Data:</p>
                <span>{{dataPost}}</span>
            </div>

            <hr class="line_division">

            <div class="author data-post">
                <p>Autor:</p>
                <span>{{authorPost}}</span>
            </div>

            <hr class="line_division">

            <div class="category data-post">
                <p>Categoria:</p>
                <span>{{categoryPost}}</span>
            </div>
        </div>

        </div>

    </div>
</section>