@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.dark-sectioncontainer {
    background-color: #121212;
}

.dark-section {
    padding: 20px;
}

.line_division {
    opacity: 10%;
}

.content-description {
    color: white;
    opacity: 70%;


}

.content-description p {
    color: darkgray;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 1.1em;
    text-align: unset;
    line-height: 30px;
}

.data-postcontainer {
    display: flex;
    flex-direction: column;
}

.data-postcontainer hr {
    opacity: 10%;
    width: 100%;
}

.data-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: "Poppins";
    font-weight: bolder;
}

.data-post span {
    margin-top: 16px;
    margin-bottom: 16px;

}

/*White Container*/

.white-sectioncontainer {
    background-color: white;
    color: black;
}

.white-sectionpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.white-sectionpost h1 {
    align-self: flex-start;
}

.white-sectionpost img {
    width: 100%;
    max-width: 600px;
}

@media screen and (min-width: 900px){
    .content-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-title h1{
        width: 50%;
        text-align: center;


    }

    .content-title hr{
    width: 100%;

    }

    .content-description{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .description{
        width: 50%;
    }

    .division-description{
        width: 0%;
        margin: 10px;
    }

    .data-postcontainer{
        width: 40%;
    }


    
}