

@media screen and (min-width: 990px) {
    #section-maincards {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        justify-content: center;
        align-content: flex-start;
    }


    #container-bigcard{
        max-width: 50%;
    }


    .linha-smallcard{
        display: block;
        border: 1px solid white;
        opacity: 10%;
        margin-left: 10px;
    }
    #container-appsmallcards{
        max-width: 50%;
        display: flex;
        flex-direction: column;

    }



}