<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<header>
    <nav class="container-menu">
        <picture>
            <span class="material-symbols-outlined perfil">account_circle</span>
        </picture>

        <ul class="menu-telagrande">
            <li *ngIf="homeOnoff"><a href="" target="_parent">Home</a></li>
            <li><a href="https://github.com/Diogo010101" target="_blank">Git Hub</a></li>
            <li><a href="https://www.linkedin.com/in/diogoj-dev/" target="_blank">Linkedin</a></li>
            <li><a href="https://diogojdev.com/" target="_blank">Portifólio </a></li>
        </ul>
        
        <nav>
            <span (click)="mostrarMenu()" class="button-menu material-symbols-outlined">menu</span>
        </nav>
    </nav>


    <ul [ngClass]="ligarDesligar" class="menu_mobile">
                <li *ngIf="homeOnoff"><a href="" target="_parent">Home</a></li>
                <li><a href="https://github.com/Diogo010101" target="_blank">Git Hub</a></li>
                <li><a href="https://www.linkedin.com/in/diogoj-dev/" target="_blank">Linkedin</a></li>
                <li><a href="https://diogojdev.com/" target="_blank">Portifólio </a></li>
    </ul>

</header>
