header {
    margin: 30px 0 0 0px;

}

.menu-telagrande {
    display: none;
}

.container-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.button-menu {
    cursor: pointer;
}

.menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    text-align: right;
}


.menu_mobile li {
    list-style: none;
    background-color: rgb(26, 25, 25);
    width: 100%;
    margin-top: 5px;
    padding: 10px 0 10px 0;


}

.menu_mobile li:hover {
    background-color: rgb(59, 59, 59);
}

.menu_mobile li a {
    text-decoration: none;
    color: darkgray;
    margin-right: 10px;
}

.menu_mobile li a:hover {
    color: white;
    transition: all 0.5s;
}

.menu-off {
    display: none;

}

.menu-on {
    display: block;
}

@media screen and (min-width: 680px) {
    .menu-telagrande {
        display: flex;
        flex-direction: row;


    }

    .menu-telagrande li {
        list-style: none;
        padding: 10px;
    }

    .menu-telagrande li a {
        text-decoration: none;
        color: darkgray;

    }

    .menu-telagrande li a:hover {
        color: white;
        transition: all 0.5s;
    }

    .menu_mobile {
        display: none;
    }

    .button-menu {
        display: none;
    }

}