@font-face {
    font-family: 'ppoppins';
    src: url("./assets/font/Poppins-Regular.ttf") format("truetype");
    
}



:root{
    --background: #111111;
    
}

*{
    font-family: 'ppoppins'
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: white;

}

@media screen and (min-width: 900px) {
body{
    margin-top: -30px;
    background-color: #ececec;
}

}